.carousel-status {
  display: none;
}

.main {
  &__search {
    &--input,
    &--filter {
      background: var(--bg);
      color: var(--text);

      border-radius: 9px;

      &_text {
        background-color: var(--bg);
      }
    }
  }
  &__btn {
    &-item {
      background-color: var(--bg);
    }
  }

  &__carousel {
    max-width: 410px;
    height: 250px;

    background-color: var(--bg);

    align-items: center;
    border-top-left-radius: 60px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 60px;
  }
}

.slider__item {
  max-width: 280px;
  height: 250px;

  margin-top: -30px;
}

.product {
  max-width: 410px;
  margin-top: 20px;
  height: 210px;

  border-radius: 12px;

  background-color: var(--bg);

  &__carousel {
    width: 190px;
    height: 170px;
  }
}

.control-dots,
.control-arrow {
  visibility: hidden;
}
