@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: var(--tg-theme-bg-color);
  --bg-sec: var(--tg-theme-secondary-bg-color);
  --text: var(--tg-theme-text-color);
  --btn: var(--tg-theme-button-color);
  --btn-text: var(--tg-theme-button-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
  max-width: 440px;
  margin: auto;
  font-family: var(--rubik), sans-serif;

  background: var(--bg-sec);
  color: var(--text);
}

.modal {
  z-index: 9999;
  overflow: hidden;
  background: var(--bg);
  color: var(--text);

  top: 105px;

  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.spinner {
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.circle {
  position: absolute;
  background-color: var(--text);
  border-radius: 50%;
  animation: move linear infinite;
  z-index: -1000;
}

@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-100vh) translateX(50vw);
  }
}
